:root {
    --white: #ffffff;
    --black: #000000;
  }

.light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

* {
    color: var(--fontColor);
    font-family: helvetica;
    font-size: 1.25vw;
  }

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2vw;
}

h3 {
    font-size: 1.5vw;
}

body {
      background: var(--bg);

  }

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
  }
  
.list {
    list-style: square;
  }

.btn {
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus { outline-style: none; }

.landingpage-grid {
    display: grid;
}

.col {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  width: 25%;
  margin-right: 5px;
  margin-left: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* This is the start of the Breakfast Section*/

img {
  filter: none;
  /* Firefox 3.5+ */
  filter: none;
  /* IE6-9 */
  -webkit-filter: none;
  /* Google Chrome & Safari 6+ */
  width: 100%;
  height: auto;
}
img:hover {
  filter: blur(4px);
}



.container {
    flex-wrap: wrap;
}